#main {
    font-family: Georgia, serif;
    font-style: italic;
    background-image: url("../img/parduotas.jpg");
    background-size: cover;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #EBEFF4;
    
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgb(236, 236, 236);
    margin-top: 10px;
    margin-bottom: 10px;
   }
    
nav {
    display: flex;
} 
 
   header ul li {
    display: inline-flex;
    font-size: 1.5em;
    padding: 0 1.4em 0 0;
}

header ul li a {
    text-decoration: none;
    color: #7D7C7D;
   }
   
   li a.active {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-weight: 300;
   }
   
   li a:hover {
    color: #B6B6B6;
   }


#info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}


#img-div {
    display: flex;
    flex-direction: column; 
    margin: 20px;
    padding: 0 1.4em 0 0;
}

#img {
    border-radius: 6px;
    width: 330px;
      
}

#img:hover {
    z-index: 99;
    width: 350px;
    background-size: 100%;
    background-position: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(75, 72, 72, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(75, 72, 72, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(75, 72, 72, 0.75);
  }

#img-caption {
    margin: 15px 80px 15px 100px;
}

#title {
    align-self: center;
    margin: 50px;
    
}
#title h1 {
    font-size: 46px;
    text-align: center;
}

#tribute-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    padding: 0 1.4em 0 0;
}

#tribute-info h3 {
    margin-left: 25px;
}

#artworks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

#artworks div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 8px;
    width: 45%;
}

p {
    text-align: justify;
}

