#main {
    font-family: Arial, sans-serif;
    background-color: #BFBABA;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #EBEFF4
    
}

#info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


#img-div{
    display: flex;
    flex-direction: column; 
    
}

#img {
    border-radius: 6px;
    width: 300px;
}

#img-caption {
    margin: 15px 80px 15px 75px;
}

#title {
    align-self: center;
    margin: 50px;
}

#tribute-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#artworks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
}

